<!-- View Box: Fills the viewport -->
<div class="view-box">

  <!-- Reference -->
  <small id="reference" class="position-absolute w-100 text-center">
    For any questions or help, email: <a href="mailto:glennfaison@gmail.com">Glenn Faison</a>
  </small>
  <!-- End reference -->

  <!-- Box in the middle of the viewport: Contains two forms -->
  <div id="mid-box" class="col">

    <!-- Title -->
    <h1 class="row w-100 text-center">Move Util</h1>

    <!-- Box at the top of the middle box -->
    <div id="top-box" class="col w-auto">

      <!-- Form -->
      <fieldset id="form" class="d-flex pt-1 pr-1">
        <legend>Enter Details</legend>

        <!-- Form Group for substring -->
        <div class="pb-1">
          <label for="substring" class="row" title="The substring that you are looking for in a filename">
            Substring:
          </label>
          <input type="text" class="row w-100" name="substring" id="substring" [(ngModel)]="substring" />
        </div>
        <!-- End form group for substring -->

        <!-- Form Group for source folder -->
        <div class="pb-1">
          <label for="sourceFolder" class="row" title="The full path to the source folder">
            Source Folder
          </label>
          <input type="text" class="row w-100" name="sourceFolder" id="sourceFolder" [(ngModel)]="sourceFolder" />
        </div>
        <!-- End form group for source folder -->

        <!-- Form Group for destination folder -->
        <div class="pb-1">
          <label for="destinationFolder" class="row" title="The full path to the destination folder">
            Destination Folder
          </label>
          <input type="text" class="row w-100" name="destinationFolder" id="destinationFolder"
            [(ngModel)]="destinationFolder" />
        </div>
        <!-- End form group for destination folder -->

        <!-- Action button group -->
        <div class="pb-1">
          <button id="submitButton" type="submit" class="mr-1">Submit</button>
          <button type="cancel" (click)="clearForm()" class="mr-1">Clear</button>
        </div>
        <!-- End action button group -->

      </fieldset>
      <!-- End form -->

    </div>
    <!-- End top-box -->

    <!-- Box at the bottom of the middle box -->
    <div id="bottom-box" class="col w-auto">
      <span id="logs" class="col w-100">
      </span>
    </div>
    <!-- End bottom-box -->

  </div>
  <!-- End mid-box -->

</div>
