body,
body::before,
body::after {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  padding: none;
  margin: none;
}

.view-box {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 98vw;
  height: 97vh;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
}

#mid-box {
  display: flex;
  width: 80%;
  align-items: stretch;
}
.w-auto {
  flex-grow: 1;
}
.w-100 {
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
#top-box {
  justify-content: stretch;
}

#bottom-box {
  padding: 1px;
  max-height: 100px;
  overflow: scroll;
  font-size: xx-small;
  padding: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
}
.pb-1 {
  padding-bottom: 1em;
}
.pt-1 {
  padding-top: 1em;
}
.pr-1 {
  padding-right: 1em;
}
.mr-1 {
  margin-right: 1em;
}
.text-center {
  text-align: center;
  justify-content: center;
}
