<!-- View Box: Fills the viewport -->
<div class="view-box">

  <!-- Box in the middle of the viewport: Contains two forms -->
  <div id="mid-box" class="col">

    <!-- Title -->
    <h1 class="row w-100 text-center">Move Util</h1>

    <!-- Box on the LHS of the middle box -->
    <div id="left-box" class="col w-auto">

      <!-- Form -->
      <fieldset id="form" class="d-flex">
        <legend>Enter Details</legend>

        <!-- Form Group for substring -->
        <div class="pb-1">
          <label for="substring" class="row">Substring:</label>
          <input type="text" class="row w-100" name="substring" id="substring" [(ngModel)]="substring" />
        </div>
        <!-- End form group for substring -->

        <!-- Form Group for source folder -->
        <div class="pb-1">
          <label for="sourceFolder" class="row">Source Folder</label>
          <input type="text" class="row w-100" name="sourceFolder" id="sourceFolder" [(ngModel)]="sourceFolder" />
        </div>
        <!-- End form group for source folder -->

        <!-- Form Group for destination folder -->
        <div class="pb-1">
          <label for="destinationFolder" class="row">Destination Folder</label>
          <input type="text" class="row w-100" name="destinationFolder" id="destinationFolder" [(ngModel)]="destinationFolder" />
        </div>
        <!-- End form group for destination folder -->

        <!-- Action button group -->
        <div class="pb-1">
          <button id="submitButton" type="submit" class="mr-1">Submit</button>
          <button type="cancel" (click)="clearForm()" class="mr-1">Clear</button>
        </div>
        <!-- End action button group -->

      </fieldset>
      <!-- End form -->

    </div>
    <!-- End left-box -->

    <!-- Box on the RHS of the middle box -->
    <!-- <div id="right-box" class="col w-auto">
      <span>
        <pre>
          &#123;
            substring: "{{ substring }}",
            sourceFolder: "{{ sourceFolder }}",
            destinationFolder: "{{ destinationFolder }}"
          &#125;
        </pre>
      </span>
    </div> -->
    <!-- End right-box -->

  </div>
  <!-- End mid-box -->

</div>
